label {
  display: block;
}

.car-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.car-border {
  border: 3px solid;
}

.house-card {
  box-shadow: 0px 5px 10px #424242;
  padding: 0;
}

.house-img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}